<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC | gnillip</title>
    <link rel="stylesheet" href="/static/style/style.css">
</head>
<body>
    <div>
        <h3>PC Page</h3>
        <a href="/selection">selection Page</a>
        <br>
        <a href="/PC/dach">roof - floor</a><br>
        <a href="/PC/mitte">middle - floor</a><br>
        <a href="/PC/keller">basement - floor</a>
    </div>
</body>
</html>